Django >= 1.11, < 2
django-autoslug >= 1.7
django-compressor >= 1.4
python-memcached
sorl-thumbnail >= 12.2
textile >= 2.2
psycopg2
Pillow

# Production envirionment
gunicorn
setproctitle

# For testing
lxml
cssselect
