{% extends "base.html" %}
{% load thumbnail %}

{% block wholetitle %}{{post.title}} - {{sitename}}{% endblock %}

{% block main %}
  <h2>{{post.title}}</h2>
  <p class="dateline">{{post.posted_time}}</p>
  
  <div class="postContent">
    {% for image in images %}
      <div class="image">
	{% thumbnail image.image "1000x1000" as large %}
	{% thumbnail image.image "220x220" as img %}
	<a href="{{large.url}}" rel="image" title="{{image.caption}}">
	  <img src="{{img.url}}" alt="[bild]"
	       width="{{img.width}}" height="{{img.height}}"/>
	</a>
	{% endthumbnail %}{% endthumbnail %}
	<div class="caption">{{image.caption_markup}}</div>
      </div>
    {% endfor %}
  
    {{post.content_markup}}
  </div>
{% endblock %}
